<% if (active) { %>
    <div class="carousel-item active">
<% } else {%>
    <div class="carousel-item">
<% } %>
  <img src="assets/<%= imageSrc %>" class="img-fluid" alt="Image" />
  <div class="carousel-caption">
    <div class="p-3" style="max-width: 900px">
      <h4
        class="text-white text-uppercase fw-bold mb-4"
        style="letter-spacing: 3px"
      >
        <%= phrase %>
      </h4>
      <h1 class="display-2 text-capitalize text-white mb-4">
        <%= title %>
      </h1>
      <p class="mb-5 fs-5">
        <%= description %>
      </p>
      <div class="d-flex align-items-center justify-content-center">
        <a
          class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
          href="#"
          >Discover Now</a
        >
      </div>
    </div>
  </div>
</div>
